{{#unless this.inline}}
  <input
    type="text"
    class="form-control {{if this.isMobile "bs-disable"}}"
    disabled={{this.disabled}}
    placeholder={{this.placeholder}}
    readonly={{this.isMobile}}
    onfocus={{action "focus"}}
  >
  {{#if this.showIcon}}
    <span class="input-group-addon">
      <i class={{this.iconClasses}}></i>
    </span>
  {{/if}}
{{/unless}}
